{% extends 'base.html.twig' %}

{% block title %}Hello PostController!
{% endblock %}

{% block body %}
	<h1>Liste des posts :</h1>

	{% for post in posts %}
	<div class="border border-secondary rounded my-4 p-3 flex">
		<h3>{{ post.content }}</h3>
		<p>
			<small>
				créé le
				{{ post.createdAt | date('d/m/Y à H:i:s') }}
			</small>
		</p>
		<a class="btn btn-secondary" href={{ path('app_post_details', {'id':post.id})}}>Details</a>
		<form class="btn" method="post" action={{ path('app_post_delete', {'id':post.id})}} >
		<input type="hidden" name="_token" value={{ csrf_token('delete' ~ post.id)}} >
		<button type="submit">
		<i class="fas fa-trash"></i>
		</button>
		</form>
	</div>
	{% endfor %}
{% endblock %}
